@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 1.125rem;
  }

  div[hidden] {
    display: none;
  }

  :is(a, button, input, textarea, select, details, summary):focus-visible {
    outline: white solid 0.188rem;
    outline-offset: 0.188rem;
  }

  .h-dynamic-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
}

@layer components {

  /* START: Default styles */
  button[aria-expanded="true"]+.tooltip {
    visibility: visible;
    opacity: 1;
  }

  .name-padding {
    @apply ml-[0.25rem];
  }

  .profile {
    padding: 2.125rem 1.8125rem 4.9575rem;
  }

  .p-card {
    padding: 1.5rem 1.625rem 1.375rem 1.875rem;
  }

  .p-card-hours {
    margin-block: 1.375rem 0.375rem;
  }

  .clamp-title {
    font-size: clamp(1.5rem, 3vw, 2.3125rem);
  }

  .font-title {
    line-height: 1.3;
    letter-spacing: 0.125rem;
  }

  .font-hours {
    letter-spacing: -0.0375rem;
    margin-block: 1.3125rem 0.375rem;
    font-size: 3.5625rem;
  }

  .filter-white {
    filter: brightness(0) invert(1);
  }

  /* END: Default styles */

  /* START: Background images [pixel-perfect] */
  .icon-bg {
    background-repeat: no-repeat;
  }

  .bg-work {
    background-position: 91% -6%;
  }

  .bg-play {
    background-position: 88% -3%;
  }

  .bg-study {
    background-position: 90.5% -4%;
  }

  .bg-exercise {
    background-position: 90% top;
  }

  .bg-social {
    background-position: 92% top;
  }

  .bg-self-care {
    background-position: 92% -6%;
  }

  /* END: Background images [pixel-perfect] */

  /* START: Styles for the button of each tab */
  .tab-button[aria-selected="true"] {
    @apply text-white;
  }

  .tab-button-padding {
    padding-left: 1.9375rem;
    padding-block: 0.6875rem;
    text-align: start;
  }

  @media screen(lg) {
    #tab-button-0 {
      margin-top: 0.8125rem;
      padding-block: 0.8125rem 0.5625rem;
    }

    #tab-button-2 {
      margin-bottom: 1.375rem;
    }
  }

  /* END: Styles for the button of each tab */

  /* START: Link of the card */
  .card-link {
    outline: none !important;
  }

  .card-link::after {
    content: '';
    position: absolute;
    inset: 0;
    @apply rounded-2xl;
  }

  .card-link:focus::after {
    outline: white solid 0.17rem;
    outline-offset: 0.2rem;
  }

  /* END: Link of the card */

  /* START: Styles for the tooltip */
  .tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem;
    border-color: theme('colors.very-light-blue') transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip {
    bottom: 250%;
  }

  /* END: Styles for the tooltip */
}